<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emilia | About</title>
    <script src="https://kit.fontawesome.com/52f3957177.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/music">Music</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <nav>
        <ul>
          <a href=""><i class="fa-brands fa-twitter"></i></a>
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          <a href=""><i class="fa-brands fa-spotify"></i></a>
          <a href=""><i class="fa-brands fa-apple"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></i></a>
          <a href=""><i class="fa-brands fa-amazon"></i></i></a>
          
        </ul>
      </nav>
    </header>
    <main>
      <h1>About<br>Emilia//</h1>
      <section>
        <article>
          <h3>"Lorem ipsum, dolor sit amet consectetur" <br>adipisicing elit. At, eaque Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
          <p>- Lorem ipsum dolor</p>
        </article>
        <article>
          <h3>"Lorem ipsum, dolor sit amet consectetur" <br>adipisicing elit. At, eaque Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
          <p>- Lorem ipsum dolor</p>
        </article>
      </section>
  </main>
  </body>
</html>

