<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Emilia | Contact</title>
  <script src="https://kit.fontawesome.com/52f3957177.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/music">Music</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <nav>
      <ul>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-spotify"></i></a>
        <a href=""><i class="fa-brands fa-apple"></i></a>
        <a href=""><i class="fa-brands fa-instagram"></i></i></a>
        <a href=""><i class="fa-brands fa-amazon"></i></i></a>

      </ul>
    </nav>
  </header>
  <main>
    <h1>Contact//</h1>
    <section>
    <h2>We are here</h2>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.4055318893897!2d-58.71374768972572!3d-34.54328627286328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcbd0da2327ec5%3A0x199cbae0afdf6ecc!2sCatedral%20Santuario%20San%20Miguel%20Arc%C3%A1ngel!5e0!3m2!1ses!2sar!4v1687446799760!5m2!1ses!2sar"
      width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
    <section>
      <h3>CONTACT INFO</h3>
      <article>
        <h3>MANAGEMENT | Karen Blande</h3>
            <p>Email:Info@mysite.com<br>phone: 123-456-77890</p>
      </article>
      <article>
        <h3>BOOKING | dANIEL kU</h3>
            <p>Email:Info@mysite.com<br>phone: 123-456-77890</p>
      </article>
      <article>
        <h3>lABEL | wIX rECORDS, Jake Coldhan</h3>
            <p>Email:Info@mysite.com<br>phone: 123-456-77890</p>
      </article>
      <article><h3>PR | That Girl Pr, Sarah Brookstone</h3>
            <p>Email:Info@mysite.com<br>phone: 123-456-77890</p>
      </article>
    </section>
  </main>
</body>

</html>