<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Emilia | Music</title>
    <script src="https://kit.fontawesome.com/52f3957177.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/music">Music</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
      <nav>
        <ul>
          <a href=""><i class="fa-brands fa-twitter"></i></a>
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          <a href=""><i class="fa-brands fa-spotify"></i></a>
          <a href=""><i class="fa-brands fa-apple"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></i></a>
          <a href=""><i class="fa-brands fa-amazon"></i></i></a>
          
        </ul>
      </nav>
    </header>
    <main>
    <h1>Music //</h1>
    <nav>
      <h5>Direct link</h5>
      <ul>
        <li><a href="#album">album</a></li>
        <li><a href="#organic">Video: Organic Love</a></li>
        <li><a href="#street">Video: Street Ligth</a></li>
      </ul>
    </nav>
    <section>
      <article>
        <h4>album <br>twist in my reality</h4>
        <img src="/img/emilia-play-list.png" alt="emilia-play-list">
        <ol>
          <li><i class="fas fa-play"></i> Organic Love | 02:40</li>
          <li><i class="fas fa-play"></i> Twist In My Reality | 02:10</li>
          <li><i class="fas fa-play"></i> Street Ligth | 03:28</li>
          <li><i class="fas fa-play"></i> Love Don´t Live Here Anymore | 03:49</li>
        </ol>
        <a href="#">Go Top</a>
      </article>
    </section>
    <section>
      <article>
        <h2>VIDEO <br>ORGANIC LOVE</h2>
        <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        <p>Directed by VINCE MALC & EMILIA COLE <br>
          Edited and Filmed by NICOLAS TROY <br>
          Produced by NIKI HEART, <br>
          Wix Films LTD.</p>
          <a href="#">Go Top</a>
      </article>
      <article>
        <h2>VIDEO <br>ORGANIC LOVE</h2>
        <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        <p>Directed by VINCE MALC & EMILIA COLE <br>
          Edited and Filmed by NICOLAS TROY <br>
          Produced by NIKI HEART, <br>
          Wix Films LTD.</p>
          <a href="#">Go Top</a>
      </article>
    </section>
    </main>
    <footer>
    </footer>
  </body>
</html>
